.container
{
  border-radius: .25em;
  margin-top: 40px;
  margin-left: 40px;
  flex-wrap: wrap;
}

a
{
  color: #4D9DE0;
}

.btn.btn-outline-success
{
  color: #3BB273;
  border-color: #3BB273;
}

.btn.btn-outline-success:hover
{
  color: white;
  background-color: #3BB273;
}

.btn.btn-outline-success:focus
{
  box-shadow: unset;
}

.navbar-brand:hover
{
  color: #E1BC29;
}